@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Outfit:wght@400;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
  
  --color-brand-red: #E11D48;
  --color-premium-dark: #0F172A;
  --color-premium-gray: #64748B;
  --color-ivory: #F8FAFC;
}

@layer base {
  body {
    font-family: var(--font-sans);
    background-color: var(--color-ivory);
    color: var(--color-premium-dark);
  }
}

.mask-edges {
  mask-image: linear-gradient(to right, transparent, black 15%, black 85%, transparent);
}
