@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-pkg-red: #E31B23;
  --color-pkg-charcoal: #111111;
  --animate-spin-slow: spin 8s linear infinite;
}

@layer base {
  body {
    @apply bg-white text-pkg-charcoal antialiased overflow-x-hidden;
  }
}

.technical-grid {
  background-image: radial-gradient(circle at 1px 1px, rgba(0,0,0,0.05) 1px, transparent 0);
  background-size: 24px 24px;
}

.asymmetric-clip {
  clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
}
